@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.content-wrapper {
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-wrapper {
    flex-direction: column;
    background-color: #fff;
    margin: 15px 0;
    padding: 10px 0;
    border-radius: 15px;
}

.qr-code-image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
}

.tag-line-wrapper {
    display: flex;
    flex-direction: column;
}

.tag-line-wrapper p{
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.tag-line-wrapper div{
    margin-top: 20px;
}


.para-1{
    font-weight: 700;
}

.para-2{
    font-weight: 400;
    color: grey;
}